@import "tailwindcss";

/* @theme {
  --font-sans: var(--font-inter);
  --font-logo: var(--font-imperial-script);
} */

/* alap betű */
/* body {
  font-family: var(--font-sans), system-ui, sans-serif;
}

.font-logo {
  font-family: var(--font-logo);
} */
